.rootContainer {
  position: relative;
  animation: rotateAntiClockwise 2s linear infinite;
  color: orange;
}

.tailMask {
  /* position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%; */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@keyframes rotateAntiClockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
